
<h1>{{title}}</h1>

<label>Text Box : </label>
<form-control-text-box name="text-box1" value="Text Box 1" placeholder="Enter Name"></form-control-text-box><br/>

<label>Password : </label>
<form-control-password name="password1" value="password" placeholder="Enter Password" ></form-control-password><br/>

<label>Telephone : </label>
<form-control-telephone name="telphone1" value="7876467332" placeholder="Enter Telephone"></form-control-telephone><br/>

<label>CheckBox : </label>
<form-control-checkbox name="checkbox1" value="checkbox1" checked="false"></form-control-checkbox><br/>

<label>Radio : </label>
<form-control-radio name="radio1" value="radio1" checked="true"></form-control-radio><br/>

<label>Text Area : </label>
<form-control-text-area name="text-box1" value="Text Box 1" placeholder="Enter name"></form-control-text-area><br/>